// COLORS
$color-primary: #55c57a; // rgb(85,197,122)
$color-primary-light: #7ed56f; // rgb(126,213,111)
$color-primary-dark: #28b485; // rgb(40,180,133)

$color-gray-light-1: #f7f7f7;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$col-spacing: 5rem;
