
.row{
  margin: 0 auto;
  max-width: $grid-width;

   &::after{
      content: "";
      display: table;
      clear: both;
   }
}

[class^="col"]{
   float: left;
   // background-color: #ffaaaa;

   &:not(:last-child){
      margin-right: $col-spacing;
   }
}

.col-1-of-2{
   width: calc( (100% - #{$col-spacing}) / 2 );
}

.col-1-of-4{
  width: calc( (100% - (#{$col-spacing})*3 ) / 4 );
}

/*.row:not(:last-child){
  margin-bottom: 50px;
}
.row::after{
  content: "";
  display: table;
  clear: both;
}
[class^="col"]{
  background-color: #c05020;
  height: 100px;
  float: left;
  text-align: center;
}
[class^="col"]:not(:last-child){
  margin-right: 30px;
}
.col-1-of-3{
  width: calc( (100% - 2 * 30px) / 3 );
}
.col-2-of-3{
  width: calc( 2 * (100% - 2 * 30px) / 3  + 30px );
} */
